.form-contact-container {
  display: flex;
  justify-content: center;
  gap: var(--space-8);
  margin: 40px 0;

  h4 {
    margin-top: 0;
  }
  .right-side > p {
    color: var(--color-text-secondary);
    font-size: 14px;
    max-width: 326px;
    margin-top: 30px;
  }
  .form-container {
    width: 25%;
    max-width: 476px;
  }
  .right-side {
    width: 25%;
    max-width: 326px;
  }
}

.contact-detail:last-child {
  margin-bottom: 18px;
}

.contact-detail {
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-2);
}

.contact-detail-text {
  h5 {
    color: var(--color-text-secondary);
  }
  p,
  h5 {
    margin: 0;
  }
  p {
    font-size: 14px;
  }
}
