.hero {
  padding: 91px 0 72px;
}

h1 {
  font-size: 48px;
}

.hero__content {
  width: 426px;
  h1 > span {
    color: var(--color-teal);
  }
}

.report-incident-section__content {
  margin: 0 auto;
  max-width: 1027px;
 }

.risk-assesment-section {
  justify-self: center;
  padding-top: 60px;
}

.risk-assesment-section__content {
  margin: 0 auto;
  max-width: 741px;
}

.why-it-matters-section {
  display:flex; 
  flex-direction: column;
  justify-self: center;
  width: 100%;  
  padding: 50px 0;
  background-color: var(--color-background-secondary);
  &>p {
    color:var(--color-teal);
    font-size:var(--font-size-xs);
    font-weight: bold;
  }

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:100;
     font-size:var(--font-size-xl);
     &>span {
      color:var(--color-teal);
      font-style:italic;
    }
  }

}

.why-it-matters__cards {
display: flex;
margin:0 auto;
gap: 20px;
}

.metric-card-section{
  display:flex;
  gap: var(--space-4);
  justify-content: center;
}.report-incident-section__image{
  justify-self: center;
}