header {
  background: var(--color-background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-sm);
  height: 108px;
  font-weight: 500;
  color: var(--color-text-primary);
}

nav > ul {
  display: flex;
  gap: var(--spacing-md);
  li {
    list-style-type: none;
    .nav-link-text {
      /* border: 1px solid black; */
      border-radius: var(--radius-sm);
      text-decoration: none;
      color: var(--color-text-primary);
      padding: var(--space-2) var(--space-4);
    }
    .nav-link-text.active{
      color: var(--color-teal);
      background-color: #b4d8da;
    }
  }
}

.last-header-section {
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

button{
  color: #FFFFFF;
  background-color: var(--color-teal);
  border: 0;
} 


     
                